.h{
    background: transparent;
    border:none;
    font-size:xx-large;
    cursor: pointer;
}
#l{
    font-weight: bold;
}
#l:hover{
    color:red;
}
#h{
    align-items: center;
    margin-left:40%;
}